---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- updated -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      <div class="podcast-entry">
        <h3>{{ post.title }}</h3>
        {% if post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
        {% if post.audio %}
          <audio controls>
            <source src="{{ post.audio }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        {% endif %}
        {% if post.video %}
          <video controls width="100%" preload="metadata">
            <source src="{{ post.video }}" type="video/mp4">
            Your browser does not support the video element.
          </video>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="podcast-entry">
      <h3>{{ post.title }}</h3>
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
      {% if post.audio %}
        <audio controls>
          <source src="{{ post.audio }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      {% endif %}
      {% if post.video %}
        <video controls width="100%" preload="metadata">
          <source src="{{ post.video }}" type="video/mp4">
          Your browser does not support the video element.
        </video>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
