---
layout: default
---

{% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 class="page__title">{{ page.title }}</h1>
  {% endunless %}

  {% for post in site.publications reversed %}
    <article class="archive-item">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      {% if post.date %}
        <p>Published {{ post.date | date: "%B %Y" }}</p>
      {% endif %}
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
      {% if post.audio %}
        <audio controls>
          <source src="{{ post.audio | relative_url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      {% endif %}
    </article>
    <hr>
  {% endfor %}
</div>
